<!DOCTYPE html>
<html>
	<head>
		<title></title>
	</head>
	<body>
		<h2>Контакты</h2>
		<p>Мы находимся по адресу: Лондон, Бейкер-стрит, 221b</p>

		<form action="/contacts" method="post" role='form'>

		  <div class="form-group">
			 	<label for="comment"><p>Введите ваши контакты ниже</p></label>
			  <textarea name="user_contacts" class="form-control" rows="5" id="comment"></textarea>
			</div> 

			<button type="submit" class="btn btn-primary">Отправить</button>

		</form>

	</body>
</html>