<!DOCTYPE html>
<html>
<head>
	<title>Список записавшихся пользователей</title>
</head>
<body>

	<table class="table">
	  <tr>
	  	<td>NAME</td>
	  	<td>phone</td>
	  	<td>date</td>
	  	<td>barber</td>
	  	<td>color</td>
	  </tr>

	  <tr>
	  	<td>NAME</td>
	  	<td>phone</td>
	  	<td>date</td>
	  	<td>barber</td>
	  	<td>color</td>
	  </tr>

	  <tr>
	  	<td>NAME</td>
	  	<td>phone</td>
	  	<td>date</td>
	  	<td>barber</td>
	  	<td>color</td>
	  </tr>
	  
	</table>

</body>
</html>